# Módulo 07 - Tarefa 02

#### 1) Carregue a base e garanta que a base está como deveria.

Considere a base que você ajustou na lição passada. Carregue-a. Caso ainda haja alguma pendência, ajuste - lembre-se de que o scikitlearn não recebe variáveis em formato string, somente numéricas, e não aceita '*missings*'. 

- Separe 70% da base para treinamento e 30% para validação. Cada uma dessas partes terá dois objetos, um armazenando a variável resposta ```mau```e outro armazenando as variáveis explicativas (lembrando: sem variáveis string, já com as dummies).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

clientes = pd.read_csv("demo01.csv")
clientes.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [20]:
clientes.sexo.unique()

array(['M', 'F'], dtype=object)

In [21]:
clientes.sexo.map

<bound method Series.map of 0        M
1        F
2        F
3        M
4        F
        ..
16645    F
16646    F
16647    M
16648    M
16649    F
Name: sexo, Length: 16650, dtype: object>

In [2]:
novo_sexo = pd.get_dummies(clientes["sexo"])
novo_posse_de_veiculo = pd.get_dummies(clientes["posse_de_veiculo"])
novo_posse_de_imovel = pd.get_dummies(clientes["posse_de_imovel"])
novo_tipo_renda = pd.get_dummies(clientes["tipo_renda"])
novo_educacao = pd.get_dummies(clientes["educacao"])
novo_estado_civil = pd.get_dummies(clientes["estado_civil"])
novo_tipo_residencia = pd.get_dummies(clientes["tipo_residencia"])

In [3]:
novo_df = pd.DataFrame()

In [8]:
novo_df["sexo M"] = novo_sexo["M"]
novo_df["sexo F"] = novo_sexo["F"]

novo_df["posse de veiculo N"] = novo_posse_de_veiculo["N"]
novo_df["posse de veiculo Y"] = novo_posse_de_veiculo["Y"]

novo_df["posse de  imovel Y"] = novo_posse_de_imovel["Y"]
novo_df["posse de imovel N"] = novo_posse_de_imovel["N"]

novo_df["renda Commercial associate"] = novo_tipo_renda["Commercial associate"]
novo_df["renda Pensioner"] = novo_tipo_renda["Pensioner"]
novo_df["renda State servant"] = novo_tipo_renda["State servant"]
novo_df["renda Student"] = novo_tipo_renda["Student"]
novo_df["renda Working"] = novo_tipo_renda["Working"]

novo_df["Educação Academic degree"] = novo_educacao["Academic degree"]
novo_df["Educação  Higher education"] = novo_educacao["Higher education"]
novo_df["Educação  Incomplete higher"] = novo_educacao["Incomplete higher"]
novo_df["Educação  secondary"] = novo_educacao["Lower secondary"]
novo_df["Educação  Secondary / secondary special"] = novo_educacao["Secondary / secondary special"]

novo_df["Estado civil Civil marriage"] = novo_estado_civil["Civil marriage"]
novo_df["Estado civil Married"] = novo_estado_civil["Married"]
novo_df["Estado civil Separated"] = novo_estado_civil["Separated"]
novo_df["Estado civil Single / not married"] = novo_estado_civil["Single / not married"]
novo_df["Estado civil Widow"] = novo_estado_civil["Widow"]

novo_df["Tipo de residencia Co-op apartment"] = novo_tipo_residencia["Co-op apartment"]
novo_df["Tipo de residencia House / apartment"] = novo_tipo_residencia["House / apartment"]
novo_df["Tipo de residencia Municipal apartment"] = novo_tipo_residencia["Municipal apartment"]
novo_df["Tipo de residencia Office apartment"] = novo_tipo_residencia["Office apartment"]
novo_df["Tipo de residencia Rented apartment"] = novo_tipo_residencia["Rented apartment"]
novo_df["Tipo de residencia With parents"] = novo_tipo_residencia["With parents"]

novo_df["Quantidade de filhos"] = clientes.qtd_filhos
novo_df["idade"] = clientes.idade
novo_df["tempo de emprego"] = clientes.tempo_emprego
novo_df["possui celular"] = clientes.possui_celular
novo_df["possui telefone comercial"] = clientes.possui_fone_comercial
novo_df["possui fone"] = clientes.possui_fone
novo_df["possui email"] = clientes.possui_email
novo_df["quantidade de pessoas na residência"] = clientes.qt_pessoas_residencia

In [10]:
novo_df.shape

(16650, 35)

In [11]:
novo_df.isna().sum()

sexo M                                     0
sexo F                                     0
posse de veiculo N                         0
posse de veiculo Y                         0
posse de  imovel Y                         0
posse de imovel N                          0
renda Commercial associate                 0
renda Pensioner                            0
renda State servant                        0
renda Student                              0
renda Working                              0
Educação Academic degree                   0
Educação  Higher education                 0
Educação  Incomplete higher                0
Educação  secondary                        0
Educação  Secondary / secondary special    0
Estado civil Civil marriage                0
Estado civil Married                       0
Estado civil Separated                     0
Estado civil Single / not married          0
Estado civil Widow                         0
Tipo de residencia Co-op apartment         0
Tipo de residencia House / apartment       0
Tipo de residencia Municipal apartment     0
Tipo de residencia Office apartment        0
Tipo de residencia Rented apartment        0
Tipo de residencia With parents            0
Quantidade de filhos                       0
idade                                      0
tempo de emprego                           0
possui celular                             0
possui telefone comercial                  0
possui fone                                0
possui email                               0
quantidade de pessoas na residência        0
dtype: int64

In [12]:
novo_df

,sexo M,sexo F,posse de veiculo N,posse de veiculo Y,posse de imovel Y,posse de imovel N,renda Commercial associate,renda Pensioner,renda State servant,renda Student,...,Tipo de residencia Rented apartment,Tipo de residencia With parents,Quantidade de filhos,idade,tempo de emprego,possui celular,possui telefone comercial,possui fone,possui email,quantidade de pessoas na residência
0,True,False,False,True,True,False,False,False,False,False,...,False,False,0,58.832877,3.106849,1,0,0,0,2.0
1,False,True,True,False,True,False,True,False,False,False,...,False,False,0,52.356164,8.358904,1,0,1,1,1.0
2,False,True,True,False,True,False,True,False,False,False,...,False,False,0,52.356164,8.358904,1,0,1,1,1.0
3,True,False,False,True,True,False,False,False,False,False,...,False,False,0,46.224658,2.106849,1,1,1,1,2.0
4,False,True,False,True,False,True,False,False,False,False,...,False,False,0,29.230137,3.021918,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,False,True,True,False,True,False,False,False,False,False,...,False,False,0,54.109589,9.884932,1,0,0,0,2.0
16646,False,True,True,False,True,False,True,False,False,False,...,False,False,0,43.389041,7.380822,1,1,1,0,2.0
16647,True,False,False,True,True,False,False,False,False,False,...,False,False,0,30.005479,9.800000,1,1,0,0,2.0
16648,True,False,False,True,True,False,False,False,False,False,...,False,False,0,30.005479,9.800000,1,1,0,0,2.0
16649,False,True,True,False,True,False,False,True,False,False,...,False,False,0,33.936986,3.630137,1,0,1,1,2.0

#### 2) Vamos para o modelo:

1. Defina um objeto com a função da árvore de decisão vista em aula.
2. Treine o modelo com os dados que você separou para treinamento.
3. Visualize a árvore. Talvez você queira aumentar um pouco a figura.
4. Produza uma visualização da matriz de classificação (ou matriz de confusão) - coloque os rótulos como "aprovados" e "reprovados" - pois afinal de contas, são essas as decisões que se podem tomar com propostas de crédito.
5. Calcule a acurácia na base de treinamento

#### 3) Vamos avaliar o modelo na base de testes

1. Classifique a base de teste de acordo com a árvore que você treinou no item 2.
2. Produza a visualização da matriz de confusão para a base de teste.
3. Calcule a acurácia da base de teste. Compare com a acurácia da base de treinamento.
4. Treine uma nova árvore com número mínimo de observações por folha de 5 e máximo de profundidade de 10. Use o random_state = 123. Avalie a matriz de classificação. Observe a distribuição da predição - qual a proporção de proponentes foram classificados como 'maus'?
5. Como ficaria a acurácia se você classificasse todos os contratos como 'bons'?